.container {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-blue);
}

.content {
    width: 60%;
    padding: 20px;
    border-right: 1px solid var(--light);
    height: 100vh;
}
